@charset "utf-8";
	.x38_star_border
{
	background : #00B8BC;
	background : rgba(0, 184, 188, 1);
	position : absolute ;
	left : 3px;
	top : 3px;
	width : 103px;
	height : 103px;
	box-shadow : -7px 7px 5px rgba(107, 107, 107, 0.75);
	filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=-7, OffY=7, Color='#6B6B6B') ;
}
