@charset "utf-8";
	.yellow_gold
{
	background : #F7971D;
	background : rgba(247, 151, 29, 1);
	position : absolute ;
	left : 566px;
	top : 116px;
	width : 210px;
	height : 210px;
	border-radius : 18px;
	-moz-border-radius : 18px;
	-webkit-border-radius : 18px;
}
.image
{
	background-image : url(a.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 566px;
	top : 113px;
	width : 786px;
	height : 854px;
}
.yellow_sahara
{
	background : #F7971D;
	background : rgba(247, 151, 29, 1);
	position : absolute ;
	left : 566px;
	top : 330px;
	width : 210px;
	height : 210px;
	border-radius : 18px;
	-moz-border-radius : 18px;
	-webkit-border-radius : 18px;
}
