body{
  background-color: #f1f1f1;
  font-family: Roboto;
  font-weight: 300;
}
h5{
  text-align: center;
  color: rgba(12,12,12,0.8);;
  font-weight: 200;
  font-size: 4rem;
}

p{
  text-align: center;
  font-size: 1.3rem;
  color: #ef80b8;
  margin: 5px 0 10px;
}
.content{
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding-top: 1rem;
}

.title{
    left: 145px;
    top: 25px;
}

.list{
  width: 100%;
  margin:auto;
  margin-bottom: 65px;
}


.list .btn-flat {
    float: right;
    width: 150px;
    padding: 0 10px;
    margin-top: 40px;
}


#sortable { 
    list-style-type: none; 
    margin: auto; 
    padding: 0;
    width: 100%; 
    cursor: move;
}

#sortable li {  
    padding: 0.4em;  
    font-size: 1.4em; 
    height: 326px;
    width: 60%;
    margin: auto;
    margin-bottom: 45px;
}


#sortable li span { 
    position: absolute; 
    color: #555; 
    font-weight: 500;
    top: 265px;
    left: 20px;
}


#sortable .video-container iframe, .video-container object, .video-container embed {
    width: 100%;
    height: 235px;
    visibility: visible;
}

#sortable .video-container {
    position: relative;
    width: 100%;
    height: 235px;
    padding-bottom: 0;
}


#sortable p{
    font-size: 0.8rem;
    color: #555;
    font-weight:500;
    top: 284px;
    padding-left: 12px;
    position: absolute;
}

.collection{
    border: none;
}

.collection .collection-item {
    background-color: #fff;
    margin-bottom: 45px;
}



/* heart button */
.favorite-heart {
    position: absolute;
    bottom: 26px;
    right: 20px;
    cursor: pointer;
}

.unlike{
  color:#ccc;
}

.like{
  color:#f00650;
}
